.flex {
    display: flex;
    background-color: blanchedalmond;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: space-between; */
}

.block {
    display: block;
    background-color: brown;
}
.inline {
    display: inline;
    background-color: darksalmon;
}


.grow {
    display: flex;
    flex-grow: 2;
    background-color: blueviolet;
}
.shrink {
    display: flex;
    flex-shrink: 3;
    background-color: yellow;
}
.basis {
    display: flex;
    flex-basis: 200px;
    background-color: gray;
    flex: 100px;
}
