.block-to-inline {
    display: inline;
    width: 100%;
    height: 100%;
}

.inline-to-block {
    display: block;
    width: 100%;
    height: 100%;
}

.cool {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}