.box {
    width: 100px;
    height: 80%;
    font-size: 1.5em;
}

.bigger {
    font-size: 2rem;
}

p {
    color: #b00b;
    background-color: rgba(69, 200, 102, 0.5);
}

h1 {
    color: rgb(42, 0, 69);
}