.container {
    display: grid;
    grid-template-areas: 
    "header header header" 
    "sidebar sidebar sidebar" 
    "footer footer footer";
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}
.sidebar {
    grid-area: sidebar;
    background-color: lightcoral;
    text-align: left;
    padding: 20px;
}
.content {
    grid-area: content;
    background-color: lightgreen;
    text-align: center;
    padding: 20px;
}
.footer {
    grid-area: footer;
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}